@charset "UTF-8";
#video_login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1000000;
}

#wellcome_wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wellcome_wrap .wellcome {
  margin-bottom: 50px;
}
#wellcome_wrap .wellcome img {
  max-width: 100%; /* Hình ảnh sẽ không vượt quá 100% chiều rộng của phần tử chứa nó */
  height: auto; /* Giữ tỷ lệ chiều cao và chiều rộng */
  min-width: 200px; /* Đảm bảo hình ảnh không quá nhỏ */
}
#wellcome_wrap .wellcome .wellcome_button div {
  text-align: center;
}
#wellcome_wrap .wellcome .wellcome_button div .button_login {
  width: 165px;
  padding: 5px 40px;
  background-image: -webkit-linear-gradient(-90deg, #fcebb5, #f6c300 25%, #f9a800 85%, #ffec72 115%);
  background-image: linear-gradient(-90deg, #fcebb5, #f6c300 25%, #f9a800 85%, #ffec72 115%);
  margin: 10px 5px;
}
#wellcome_wrap .wellcome .wellcome_button div .button_register {
  width: 165px;
  padding: 5px 40px;
  margin: 10px 5px;
  background-image: -webkit-linear-gradient(-90deg, #fcebb5, #f6c300 25%, #f9a800 85%, #ffec72 115%);
  background-image: linear-gradient(-90deg, #fcebb5, #f6c300 25%, #f9a800 85%, #ffec72 115%);
}

#login_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login_wrap .login_box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
#login_wrap .login_box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#login_wrap .login_box form .mb-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0px 10px;
}
#login_wrap .login_box form .mb-3 i {
  font-size: 18px;
  color: #2575fc;
}
#login_wrap .login_box form .mb-3 input {
  border-radius: 10px;
}
#login_wrap .login_box form .mb-3 .form-control {
  padding: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
  border: none;
}
#login_wrap .login_box form .mb-3 .form-control:focus {
  border-color: #2575fc;
  box-shadow: 0 0 8px rgba(37, 117, 252, 0.3);
  outline: none;
}
#login_wrap .login_box form .btn-primary {
  background-image: -webkit-linear-gradient(-90deg, #fcebb5, #f6c300 25%, #f9a800 85%, #ffec72 115%);
  background-image: linear-gradient(-90deg, #fcebb5, #f6c300 25%, #f9a800 85%, #ffec72 115%);
  width: 100%;
  border: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header_client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 4px solid rgb(255, 109, 4);
  background: #000000;
}
.header_client .header_client_logo h1 {
  font-weight: 900;
  color: rgb(255, 109, 4);
  text-shadow: 1px 1px 50px #fffc4f;
}
.header_client .header_client_logo p {
  color: #fffc4f;
  margin-top: -10px;
}
.header_client .menu_header_client {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  list-style: none;
  margin: 0;
}
.header_client .menu_header_client a {
  text-decoration: none;
  color: white;
}
.header_client .menu_header_client .menu-item-client {
  padding: 10px;
}

.list-web-client {
  height: 100vh;
  padding-top: 5%;
}
.list-web-client .container-list-web {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  border-radius: 10px;
  border: 4px solid white;
  height: 100%; /* Nếu cần giới hạn chiều cao, đặt giá trị cụ thể, ví dụ: 400px */
  max-height: 500px; /* Đặt chiều cao tối đa */
  margin: 0 auto;
  background-color: rgba(15, 155, 15, 0.2);
}
.list-web-client .container-list-web h1 {
  text-align: center;
  color: white;
  font-weight: 700;
}
.list-web-client .container-list-web .menu-web {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20px;
  padding: 0;
  gap: 20px;
  width: 90%;
  height: 70%;
  overflow-y: auto; /* Kích hoạt cuộn dọc */
  overflow-x: hidden; /* Ẩn cuộn ngang */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên Internet Explorer */
}
.list-web-client .container-list-web .menu-web .item-web-client img {
  width: 100px;
}
.list-web-client .container-list-web .container-show-list-web::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome/Safari */
}

.list-game-client {
  min-height: 100vhpx;
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}
.list-game-client .list-game {
  min-height: 400px;
  border-radius: 10px;
  border: 4px solid rgb(255, 104, 22);
}
.list-game-client .list-game h1 {
  text-align: center;
  color: white;
  font-weight: 700;
}
.list-game-client .list-game img {
  width: 150px;
  object-fit: cover;
}
.list-game-client .list-game .container-game {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-left: -20px;
  justify-content: center;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.list-game-client .list-game .container-game .game-info {
  width: 50%;
}
.list-game-client .list-game .container-game a {
  text-decoration: none;
  color: white;
}
.list-game-client .list-game .container-game .game-item {
  max-width: 300px;
  margin-left: 30px;
}
.list-game-client .list-game .container-game .top-game-item {
  display: flex;
}
.list-game-client .list-game .container-game .proportion {
  position: relative;
}
.list-game-client .list-game .container-game .proportion p {
  position: absolute;
  top: 40%;
  margin-left: 36%;
  font-size: 20px;
  font-weight: 900;
}
.list-game-client .list-game .container-game .proportion img {
  animation: spin 1s linear infinite;
}
.list-game-client .list-game .container-game .bottom-game-item {
  position: relative;
}
.list-game-client .list-game .container-game .bottom-game-item img {
  margin-top: -125px;
  width: 307px;
}
.list-game-client .list-game .container-game .bottom-game-item .process-bar {
  position: absolute;
  top: 45%;
  left: 4%;
  transform: translateY(-50%);
  width: 66%;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  border-radius: 15px;
}
.list-game-client .list-game .container-game .bottom-game-item .process-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: rgb(50, 254, 254);
  animation: slide 2s linear infinite;
}
.list-game-client .list-game .container-game .game-info img {
  max-width: 120px;
}
.list-game-client .list-game .container-game .game-info h3 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .list-web-client .container-list-web .menu-web {
    margin-left: 5%;
  }
  .list-game-client .list-game .container-game .game-item {
    margin-left: -1px;
  }
  .list-game-client .list-game .container-game {
    margin-left: 0;
  }
  .list-game-client .list-game {
    padding: 0;
  }
}
@keyframes slide {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg); /* Bắt đầu từ góc 0 */
  }
  to {
    transform: rotate(360deg); /* Quay hết một vòng */
  }
}

/*# sourceMappingURL=style.css.map */
